<%- include('partials/header') %>
    
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="container">
              <!-- Show found book details here -->
              <div class="row">
                <div class="card-deck" align="center">
                 <% if(locals.books) { %>
                 <% books.forEach(function(book){ %>
                              
                   <div class="col-md-6">
                       <% if( (book.volumeInfo.industryIdentifiers) && (book.accessInfo.embeddable == true)) { %>
                           <a href="books/<%= book.id %>/isbn/<%=book.volumeInfo.industryIdentifiers[0].identifier%>">
                           <div class="card" >
                               <% if(book.volumeInfo.imageLinks) { %>
                               <img class="card-img-top" src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="Card image cap" >
                               <% } %>
                               <div class="card-block">
                                 <% if(book.volumeInfo.title) { %>
                                   <h4 class="card-title"><%= book.volumeInfo.title %>  </h4>
                                 <% } %>
                               </div>
                           </div>
                           </a>
                       <% } else { %>
       
                           <a href="books/<%= book.id %>/details">
                           <div class="card" >
                               <% if(book.volumeInfo.imageLinks) { %>
                               <img class="card-img-top" src="<%= book.volumeInfo.imageLinks.thumbnail %>" alt="Card image cap" >
                               <% } %>

                               <div class="card-block">
                                <% if(book.volumeInfo.title) { %>
                                    <h4 class="card-title"><%= book.volumeInfo.title %>  </h4>
                                <% } %>
                               </div>
                           </div>
                           </a>
                       <% } %>
                          
                    <br> <br> <br>          
                   </div>
                  
                 <% }); %>
                 <% } %>
                </div>
               </div>
          </div>
        </div>
    </div>
</div>

   <%- include('partials/footer') %>